<%= form_with(model: temproom, local: true) do |form| %>
  <% if temproom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temproom.errors.count, "error") %> prohibited this temproom from being saved:</h2>

      <ul>
        <% temproom.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rec %>
    <%= form.datetime_select :rec %>
  </div>

  <div class="field">
    <%= form.label :val %>
    <%= form.text_field :val %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :valH %>
    <%= form.text_field :valH %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
